<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hcompanion"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
 
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.hcompanion.InitialScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.hcompanion.SecondScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.hcompanion.SECONDSCREEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.hcompanion.ThirdScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.hcompanion.THIRDSCREEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.hcompanion.FourthScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.hcompanion.FOURTHSCREEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.hcompanion.FifthScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.hcompanion.FIFTHSCREEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.hcompanion.SixthScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.hcompanion.SIXTHSCREEN" /> 

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:name="com.example.hcompanion.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.hcompanion.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
